@font-face {
    font-family: Product Sans;
    src: url(/fonts/Product\ Sans\ Regular.ttf);
}
@font-face {
    font-family: Product Sans B;
    src: url(/fonts/Product\ Sans\ Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans ;
}
html,body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
}
nav{
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    /* background-color: antiquewhite; */
    padding: 0 10vw;
    z-index: 19;
}
nav a,i{
    font-size: 1.4vw;
    text-decoration: none;
    color: #fff;
}
.cntr-nav{
    display: flex;
    gap: 3vw;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(170deg,rgb(243, 110, 2),rgb(238, 85, 2));
}
.one h1 {
    color: #fff; /* Ensure it's visible */
    font-size: 25vw;
    font-family: Product Sans B;

    z-index: 2; 
}


#fanta{
    position: absolute;
    width: 35%;
    height: 70%;
    z-index: 2;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;
}
#orange-cut{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

}
#orange{
    position: absolute;
    z-index: 3;
    width: 20%;
    top: 50%;
    right: 30%;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

}
#leaf{
    position: absolute;
    top: 5%;
    left: 0%;
    width: 15%;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

    /* transform: rotate(30deg); */
}
#leaf2{
    position: absolute;
    top: 60%;
    left: 72%;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

    transform: rotate(-70deg);
}
#leaf3{
    width: 15%;
    position: absolute;
    top: 7%;
    left: 85%;
    overflow-x: hidden;
}
.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background: rgb(79, 34, 2);
}
.lft-two, .rght-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.lft-two svg{
    margin-top: 50vh;
    width: 70%;
    /* transform: rotate(50deg); */
}
.rght-two h1{
    color: #fff;
    font-size: 5vw;
}
.rght-two p{
    width: 70%;
    color: #fff;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background: linear-gradient(170deg,rgb(243, 110, 2),rgb(238, 85, 2));
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 70vh;
    gap: 2vh;
    background-color: #fff;
}
.card h1{
    margin-top: 45vh;
    font-size: 2vw;
}
.card button{
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: rgb(255,149,0);
    padding: 1vw 2vw;
}
.lemon{
    top: -20%;
    position: absolute;
    width: 18vw;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;
}
.lemon1{
    left: 15%;
}

#cocacola{
    top: -13%;
    position: absolute;
    width: 55%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

}
#pepsi{
    top: -18%;
    position: absolute;
    width: 55%;
    transition: all cubic-bezier(0.19,1,0.22,0,1),0.5s;

}
